  <div class="review<%= ThumbsYup.configuration.review_size.capitalize %>">
    <div class="rstyle<%= ThumbsYup.configuration.review_color.capitalize + ThumbsYup.configuration.review_style.capitalize + ThumbsYup.configuration.review_background.capitalize %>">
      <%= body %>
    </div>
    <p class="signature">
      <%= full_name %><% unless full_name.empty? %><br><% end %>
      <%= title_and_business_name %><% unless title_and_business_name.empty? %><br><% end %>
      <%= city_state_and_country %>
    </p>
  </div>
